<div class="alert alert-info" role="alert">
  Your cart is empty, add items from the 
    <a href="#" class="alert-link">
      <%= link_to "homepage", products_path %>
    </a> in order to checkout.
</div>